.page {
  height: 100%;
}

.identity {
  display: flex;
  justify-content: flex-end;
}

.mainContent {
  display: flex;
  flex: 1;
}

.kiosk {
  flex: 1;
}

.ticketList {
  flex: 1;
  max-width: 300px;
}
