.ticketDialogContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ticketDialogActions {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

:global(.button).ticketDialogButton {
  font-weight: 500;
  max-width: unset;
}

.ticketDialogAddress {
  border: 1px solid #333333;
  padding: 20px;
}

.ticketDialogTicket {
  width: 400px;
  box-shadow: 6px 5px 10px 0px rgba(0,0,0,0.3);
}
